*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.container{
    display: grid;
    grid-template-columns: repeat( 8 , [col-start] minmax(min-content, 1fr) [col-end]);
    background-image: linear-gradient(to bottom right, lightgreen,yellow);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Itim', sans-serif;
}


